<%- include("partials/header") %>
  <div class="postcheck"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="newpost row">
      <div class="col-lg-10 col-md-10 mx-auto" data-aos="fade-up">
        <div class="post-heading">
          <h1>
            <%= post.posttitle %>
          </h1>
          <h2 class="subheading">No one has ever become poor by giving</h2>
          <span class="meta">Posted by
            <%= post.fname %>
              <%= post.lname %>
                on <%= post.date %>
          </span>
        </div>
      </div>
    </div>
  </div>
  </header>
  <br>
  <br>
  <article>
    <div class="postcontent container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <p>
            <%= post.postbody %>
          </p>

          <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow.
            Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for
            the
            next ten.</blockquote>
          <p>Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.
          </p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include("partials/footer") %>